@import "../veriables/veriables";

.mask {
  width: 100%;
  height: 100%;
  background: $color-1;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .progress-ring-circle {
    transform-origin: center;
    transform: rotate(-90deg);
    transition: stroke-dashoffset 0.1s;
  }

  &.hide {
    opacity: 0;
  }

  .loader-title {
    color: $main-—Åolor-dark;
    font-size: $size-6;
    margin-top: 7.5 * $base-space;
  }
}

@media all and (max-width : 525px) {
  .mask {
    .loader-title {
      font-size: $size-2;
      margin-top: 7.5 * $base-space;
    }
  }
}