@import "./authStyle/auth.scss";
@import "./veriables/veriables.scss";
@import "../styles/loader/loader.scss";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  background: #fff;
  color: #000;
}

body {
  font-size: $size-1;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 200;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: $color-opacity-2;
  font-weight: 200;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: $color-opacity-2;
  font-weight: 200;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: $color-opacity-2;
  font-weight: 200;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: $color-opacity-2;
  font-weight: 200;
}
