$colorOpacity: rgba(5, 9, 12, 0.1);
$colorOpacityFive: rgba(5, 9, 12, 0.5);
$mainColorLight: #4A657A;

$base-space: 8px;

$borderButton: rgba(74, 101, 122, 0.5);
$borderRadius: 10px;

$size-xs: 20px;
$size-s: 25px;
$size-m: 30px;
$size-l: 35px;

